@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --body: #fef3c7;
  --orange: #fed7aa;
  --dark-orange: #fb923c;
  --fontcolor: #000;
}

body {
  font-family: "Playfair Display, serif";
  background-color: var(--body);
}

Header .header {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--orange);
}

.logo {
  width: 150px;
  padding: 1rem;
}

.nav-container {
  position: sticky;
  padding: 0px 20px;
}

.nav-container > ul {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  color: var(--fontcolor);
  list-style-type: none;
}

.nav-container > ul > li {
  padding: 10px;
  margin: 10px;
}

Body .search {
  border: 1px solid black;
  padding: 1rem 1rem;
  margin: 2rem 20rem;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 600px;
  background-color: #fde68a;
}

.res-card:hover {
  cursor: pointer;
  border: 2px solid var(--dark-orange);
}

.res-img {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 500px;
  background-color: #f0f0f0;
}

.login-btn {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.search-box {
  margin: 10px;
  cursor: pointer;
} */
